.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    h1 {
        color: var(--gray-300)
    }
}
.none {
    margin-top: 40vh;
}
.content {
    background-color: var(--purpleish);
    margin-bottom: 1rem;
    padding: 16px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
    button {
        border: none;
        height: 20px;
    }
}